@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background: none;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  color: #000;
  transition: all 200ms linear;
}

button:hover {
  background-color: #000;
  color: #fff;
}
