@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #292e5a;
  background-color: #f3f4ff;
}

.generator {
  width: 350px;
  padding: 30px 20px;
  border-radius: 20px;
  background-color: #fff;
}

.generator__title,
.password {
  text-align: center;
  margin-bottom: 20px;
}

.generator__form-control {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.generator__form-control input {
  accent-color: #b2abff;
}

.generator__length {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
  padding: 15px;
  border-radius: 5px;
  background-color: #f3f4ff;
}

.generator__length-counter button {
  width: 35px;
  height: 35px;
  font-size: 20px;
  margin: 0 10px;
  color: #fff;
  background-color: #292e5a;
  border: 1px solid #292e5a;
  border-radius: 5px;
  transition: all 200ms linear;
  cursor: pointer;
}

.generator__length-counter button:hover {
  color: #292e5a;
  background-color: #f3f3f3;
  border: 1px solid #292e5a;
}

.generator__length-counter span {
  display: inline-block;
  font-size: 18px;
  width: 36px;
  text-align: center;
}

.generator__form-actions {
  display: flex;
  justify-content: space-around;
}

.generator__form-actions .btn {
  padding: 8px 12px;
  color: #292e5a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.generator__form-actions .generate-btn {
  background: linear-gradient(to right, #a0c0ff, #b2abff);
}

.generator__form-actions .copy-btn {
  background: linear-gradient(to right, #62f498, #77f4eb);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background: rgba(0, 0, 0, 0.75);
  display: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  padding: 1rem;
  border-radius: 5px;
  background: linear-gradient(to right, #a0c0ff, #b2abff);
  z-index: 100;
  display: none;
}

.modal button {
  margin-top: 20px;
  padding: 8px 12px;
  color: #292e5a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.active {
  display: block;
}
