.signup-form {
  background-color: #fff;
  padding: 50px 40px;
  border-radius: 10px;
  position: absolute;
  width: 345px;
  position: relative;
}

.signup-form::before {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% + 100px);
  height: calc(100% - 100px);
  background-color: var(--light-blue);
  z-index: -1;
  top: 50px;
  left: -50px;
  border-radius: inherit;
}

.signup-form h2 {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 600;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.form-group label {
  margin-bottom: 5px;
  font-size: 10px;
}

.form-group input {
  padding: 10px 15px;
  font-size: 16px;
  outline: none;
  background: none;
  border: 2px solid var(--dark-blue);
  border-radius: 5px;
  color: var(--dark-blue);
}

.form-group input:focus {
  outline: none;
}

.form-group input::placeholder {
  color: var(--dark-blue);
}

.signup-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.signup-button {
  width: 100%;
  text-align: center;
  padding: 13px 20px;
  color: #fff;
  background-color: var(--light-blue);
  font-size: 14px;
  border-radius: 30px;
  border: 2px solid var(--light-blue);
  outline: none;
  cursor: pointer;
  transition: all 200ms linear;
}

.signup-button:hover {
  color: var(--dark-blue);
  background-color: #fff;
}
